@use "../presets" as *;

@mixin visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

@mixin unlist($m: 0, $p: 0) {
  margin: $m;
  padding: $p;

  list-style: none;
}

@mixin abs-position ($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin box-shadow {
  box-shadow: -7px 4px 40px -10px darken($color-gray-dark, 40%);
}

@mixin form-style {
  width: 100%;
  height: $gap-x3;

  border: 2px solid rgba($color-white, 0);
  border-bottom-color: rgba($color-white, 0.25);
}
